(defpackage {{ name }}/settings
  (:use :cl)
  (:export #:settings))
(in-package :{{ name }}/settings)

(defparameter settings '(:debug t
                         :secret-key "{{ secret-key }}"
                         :installed-apps (:admin
                                          :{{ name }})))
